<?xml version="1.0"?>
<config>
    <modules>
        <RicardoMartins_PagSeguroPro>
            <version>2.1.0</version>
        </RicardoMartins_PagSeguroPro>
    </modules>
    <global>
        <models>
            <ricardomartins_pagseguropro>
                <class>RicardoMartins_PagSeguroPro_Model</class>
                <resourceModel>ricardomartins_pagseguropro_resource</resourceModel>
            </ricardomartins_pagseguropro>
            <ricardomartins_pagseguropro_resource>
                <class>RicardoMartins_PagSeguroPro_Model_Resource</class>
            </ricardomartins_pagseguropro_resource>
        </models>
        <blocks>
            <ricardomartins_pagseguropro>
                <class>RicardoMartins_PagSeguroPro_Block</class>
            </ricardomartins_pagseguropro>
        </blocks>
        <helpers>
            <ricardomartins_pagseguropro>
                <class>RicardoMartins_PagSeguroPro_Helper</class>
            </ricardomartins_pagseguropro>
        </helpers>
        <sales>
            <order>
                <states>
                    <pending_payment>
                        <visible_on_front>1</visible_on_front>
                    </pending_payment>
                </states>
            </order>
        </sales>
    </global>
    <default>
        <payment>
            <pagseguropro_boleto>
                <active>0</active>
                <title>Boleto - via PagSeguro UOL</title>
                <order_status>holded</order_status>
                <payment_action>order</payment_action>
                <model>ricardomartins_pagseguropro/payment_boleto</model>
                <allowspecific>0</allowspecific>
                <!--<specificcountry>BR</specificcountry>-->
            </pagseguropro_boleto>
            <pagseguropro_tef>
                <active>0</active>
                <title>Cartão de Débito (TEF) - via PagSeguro UOL</title>
                <order_status>holded</order_status>
                <payment_action>order</payment_action>
                <model>ricardomartins_pagseguropro/payment_tef</model>
                <allowspecific>0</allowspecific>
                <!--<specificcountry>BR</specificcountry>-->
            </pagseguropro_tef>
        </payment>
    </default>
    <frontend>
        <layout>
            <updates>
                <ricardomartins_pagseguropro>
                    <file>ricardomartins_pagseguropro.xml</file>
                </ricardomartins_pagseguropro>
            </updates>
        </layout>
    </frontend>
</config>